*{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: blanchedalmond;
    width: 90%;
    margin: auto;
}


img{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}


.li1{
    background-color: gray;
    padding: 10px 0;
}
.a1{
    background-color: gray;
}
div nav ul li{
    
    list-style: none;
    border-right: 1px solid #bbb;
    display: inline;
    
}
a{
    text-decoration: none;
    margin-right: 30px;
    margin-left: 30px;
    
}
.floatleft{
    float: left;
    text-align: left;
    width: 30%;
}
.floatright{
    width: 69%;
    float: right;
    text-align: left;
}
h1{
    font-size: 30px;
}
.sub{
    width: 40%;
    float: left;
    border-right: 1px solid white;
}
.service{
    width: 40%;
    padding-left: 60px;
            float: left;
text-align: left;
    
}
.ps{
    margin-right: 5px;
    margin-top: 20px;
}
.po{
    margin-top: 20px;
}
 
.ReadMore{
    background-color: gray;
    margin-top: 10px;
}
.footer{
    border-top: 3px solid white;
    margin: auto;
    clear: both;
    position: relative;
    width: 80%;
    padding-top: 30px;
    margin-top: 20px;
}
.copy{
    text-align: center;
}

.article1 ul li a{
    margin-left: 5px;
}



